.button {
  padding: 6px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  margin: 5px;
  transition: opacity 0.5s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button.orange {
  background-color: #f87c01;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 #0000002c;
  border: none;
  outline: none;
}

.button.green {
  border: 2px solid #76b939;
  background-color: #ffffff;
  color: #76b939;
}

.button.white {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 #0000002c;
  color: #303030;
}

.button-icon {
  vertical-align: middle;
}
