.contImagenPortada{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenPortada{
    width: calc(100% - 5vw);
    height: calc(100% - 5vw);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}