.imgLogoEn {
  margin-top: -160px;
  width: 12%;
  min-width: 140px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: rgb(206, 206, 215);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 50%;
  border: 6px solid white;
}

.contenedor-btn-imagen-perfil {
  margin-top: -70px;
  margin-left: 170px;
}
.contenedorLogoEn{
  scale: 1;
}
.inImageLogo{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  top: -3.5em;
  width: 3em;
  height: 3em;
  background-color: white;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
}

@media screen and (width < 767px) {
  .contenedorLogoEn{
    scale: 0.6;
  }
}
