.contenedor-seccion-3 {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-image: url("../../../../assets/images/food-doodles-banner.svg");
  background-size: cover;
}
.main3-text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: auto;
}
.main3-imagen-bolsa {
  padding-top: 50px;
}

.mainsection3-btn-tablet {
  width: 20%;
  min-width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

@media (max-width: 744px) {
  .contenedor-seccion-3 {
    background-image: url("../../../../assets/images/food-doodles-banner.svg");
  }
}
