.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76b939;
  padding: 10px 20px;
  gap: 100px;
  height: 88px;
}
.sectionButtons {
  justify-content: center;
  align-items: start;
}
.sectionSearch {
  justify-content: center;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
}
