.acerca-de-container {
  width: 90%;
  height: auto;
  text-align: start;
}

.acerca-de-texto {
  width: 100%;
  margin-bottom: 0;
}

.acerca-de-enlaces {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.acerca-de-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.acerca-de-row {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding-bottom: 20px;
}
.row-icon-details {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.title-detail {
  padding-top: 20px;
}

.dosFilas {
  display: flex;
  flex-direction: row;
}

.columnaUno {
  width: 45%;
}
.columnaDos {
  width: 45%;
}
.desc0boton1{
  width: 90px;
  height: 30px;
  background-color: var(--color-verde);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.desc0boton2{
  width: 90px;
  height: 30px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.desc0boton1:hover{
  background-color: green;
}
.desc0boton2:hover{
  background-color: rgb(116, 0, 0);
}
.textADesc{
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.controlDescPanel{
  margin-top: 1vh;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vh;
}

@media screen and (width < 1000px) {
  .dosFilas {
    flex-direction: column;
  }
  .columnaUno {
    width: 100%;
  }
  .columnaDos {
    width: 100%;
  }
  .textADesc{
    font-size: 0.8rem;
  }
  .desc0boton1, .desc0boton2{
    scale: 0.9;
  }
}

@media screen and (width < 600px) {
  .textADesc{
    font-size: 0.7rem;
  }
  .desc0boton1, .desc0boton2{
    scale: 0.8;
  }
}
