.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 56px;
  gap: 300px;
}

.search-input {
  width: 400px;
  height: 26px;
  padding: 8px 40px 8px 12px;
  border-radius: 35px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
