.main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 445px;
  width: auto;
  background-image: url("../../../../assets/images/food-doodles-banner.svg");
}

.text-content {
  flex: 1;
  text-align: center;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}

.otrosEstilos {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
}
.mainsection1-btn-tablet {
  padding-left: 230px;
  width: 40%;
  height: auto;
}

@media (max-width: 744px) {
  /* Estilos para tablets aquí */
  .text-content {
    flex: 60%;
  }
  .image-content {
    flex: 40%;
  }
  .main-banner {
    background-image: none;
    height: 220px;
  }
  .mainsection1-btn-tablet {
    width: 196px;
    padding-left: 100px;
  }
}
@media (max-width: 394px) {
  /* Estilos para móviles aquí */
  .main-banner {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("../../../../assets/images/food-doodles-banner.svg");

    background-size: cover;
  }

  .image-content {
    display: none;
  }
  .mainsection1-btn-tablet {
    padding-bottom: 30px;
    margin-top: -3.1rem;
  }
}
