.productos-relacionados-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.productos-relacionados-container > * {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}
@media (width < 1000px) {
  .productos-relacionados-container {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .productos-relacionados-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productos-relacionados-container {
    grid-template-columns: 1fr;
  }
}
