:root {
  --font-primary: "Montserrat", sans-serif;

  /* Colores */
  --color-verde: #76b939;
  --color-naranja: #f87c01;
  --color-blanco: #fafafa;
  --color-gris-oscuro: #303030;
  --color-rojo-error: #bf1e1e;
}
/* Tipografía general */
body {
  font-family: var(--font-primary);
  color: var(--color-gris-oscuro); /* Color de texto predeterminado */
  background-color: var(--color-blanco); /* Fondo blanco */
}

/* H1 - Heading */
h1 {
  font-size: 40px;
  font-weight: 700; /* Bold 700 */
}

/* H2 - Heading */
h2 {
  font-size: 32px;
  font-weight: 600; /* Semi Bold 600 */
}

/* H3 - Heading */
h3 {
  font-size: 24px;
  font-weight: 500; /* Medium 500 */
}

/* P - Párrafo */
p {
  font-size: 16px;
  font-weight: 400; /* Regular 400 */
}
/* Texto en color verde */
.text-verde {
  color: var(--color-verde);
}

/* Texto en color naranja */
.text-naranja {
  color: var(--color-naranja);
}

/* Texto de error */
.text-error {
  color: var(--color-rojo-error);
}
