
:root {
  --font-primary: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  /* Colores */
  --color-verde: #76b939;
  --color-naranja: #f87c01;
  --color-blanco: #fafafa;
  --color-gris-oscuro: #303030;
  --color-rojo-error: #bf1e1e;
}
/* Tipografía general */
body {
  font-family: var(--font-primary);
  color: var(--color-gris-oscuro); /* Color de texto predeterminado */
  background-color: var(--color-blanco); /* Fondo blanco */
}

/* H1 - Heading */
h1 {
  font-size: 40px;
  font-weight: 700; /* Bold 700 */
}

/* H2 - Heading */
h2 {
  font-size: 32px;
  font-weight: 600; /* Semi Bold 600 */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

