.contenedor{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f9f9f9, #cdfcb4);
    width: 25%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}


@media (min-width: 768px) {
    .contenedor{
        width: 12%;
    }
}

@media (min-width: 1024px) {
    .contenedor{
        width: 10%;
    }
}