.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: center;

  padding-bottom: 50px;
}

.pb {
  margin-bottom: 30px;
}

.main3-subtitle-tablet {
  display: none;
}
.main3-subtitle-mobile {
  display: none;
}

@media (max-width: 744px) {
  .main3-subtitle-tablet {
    display: block;
  }
  .main3-subtitle-desktop {
    display: none;
  }
}

@media (max-width: 394px) {
  .main3-subtitle-mobile {
    display: block;
  }
  .main3-subtitle-tablet {
    display: none;
  }
  .main3-subtitle-desktop {
    display: none;
  }
}
