input[type="file"] {
    display: none;
}

.boton_mas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #909090;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor_Input {
    display: flex;
    width: 43%;
    aspect-ratio: 1/1;
    position: relative;
    align-items: center;
    justify-content: center;
}




@media (min-width: 768px) {
    .contenedor_Input {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .contenedor_Input {
        width: 20%;
    }
}