.main6-contenedor {
  margin-top: 15vh;
  margin-bottom: 10vh;
  width: 100%;
  height: auto;
  text-align: center;
}

.main6-seccion-mision {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
