.title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: center;
  text-underline-position: from-font;
}

.highlight {
  color: #6ab344;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px; /* Tamaño más pequeño para pantallas pequeñas */
    line-height: 24.38px;
    text-align: center;
    font-weight: 600;
  }
}
