.seccionFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  /*padding: 10px;*/
  background-color: #303030;
  justify-content: space-around;
}

.sub-seccion-footer {
  display: flex;
  min-width: 180px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 3% 0;
}

.seccionFooter p {
  margin: 2% 0;
}

.derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 2%;*/
  text-align: center;
  background-color: #303030;
  border-top: 0.5px solid #fff;
  width: 100%;
  height: 10vh;
}

.contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1vh;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

@media (min-width: 768px) {
  .seccionFooter {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    text-wrap: balance;
  }
  .sub-seccion-footer {
    width: 25%;
  }
  .sub-seccion-footer:nth-child(4) {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .sub-seccion-footer {
    width: 20%;
  }

  .sub-seccion-footer:nth-child(4) {
    width: 20%;
  }
}
